<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.vain.manager.entity.Menu">

  <select id="getList" resultType="com.vain.manager.entity.Menu"
          parameterType="com.vain.manager.entity.Menu">
    select * from t_menu
    <where>
      <if test="type != null and type != 0">
        type = #{type}
      </if>
      <if test="parentId != null">
        and parentId = #{parentId}
      </if>
      and deleted=0
    </where>
  </select>

  <!--通过t_user_menu判断该用户是否有权限-->
  <select id="getMenusByUserId" resultType="com.vain.manager.entity.Menu"
          parameterType="com.vain.manager.entity.Menu">
    SELECT
      tm.*, IF(tum.id IS NULL, FALSE, TRUE) AS hasPermission
    FROM
      t_menu tm
    LEFT JOIN
      t_user_menu tum
    ON tm.id = tum.menuId
    AND tm.deleted = 0
    AND tum.userId = #{userId}
  </select>

  <!--通过t_role_menu判断该角色是否有权限-->
  <select id="getMenusByRoleId" resultType="com.vain.manager.entity.Menu"
          parameterType="com.vain.manager.entity.Menu">
    SELECT
        tm.*,IF(trm.id IS NULL, FALSE, TRUE) AS
            hasPermission
    FROM
        t_menu tm
    LEFT JOIN t_role_menu trm ON tm.id = trm.menuId
    AND tm.deleted = 0
    AND trm.roleId = #{roleId}
  </select>

  <!-- 获取用户的所有角色，所有的角色拥有的所有菜单 -->
  <select id="getMenusByUserRoles" resultType="com.vain.manager.entity.Menu"
          parameterType="com.vain.manager.entity.Menu">
    SELECT
        tm.*
    FROM
        t_menu tm,
        t_user_role tur,
        t_role_menu trm
    WHERE
        tm.deleted = 0
    AND tm.id = trm.menuId
    AND trm.roleId = tur.roleId
    AND tur.userId = #{userId}
  </select>

  <!-- 获取用户所有菜单 -->
  <select id="getUserAllMenus" resultType="com.vain.manager.entity.Menu"
          parameterType="com.vain.manager.entity.Menu">
    SELECT
      tm.*
    FROM
        t_menu tm,
        t_user_menu tum
    WHERE
        tm.deleted = 0
    AND tm.id = tum.menuId
    AND tum.userId = #{userId}
  </select>

  <!-- 获取角色下所有菜单 -->
  <select id="getMenusByRoleKey" parameterType="java.lang.String" resultType="com.vain.manager.entity.Menu">
    select tm.*
    from t_menu tm ,t_role_menu trm ,t_role tr
    where tm.id = trm.menuId and trm.roleId = tr.id and tm.deleted = 0 and tr.roleKey = #{roleKey}
  </select>

  <select id="get" resultType="com.vain.manager.entity.Menu"
          parameterType="com.vain.manager.entity.Menu">
    select * from t_menu
    <where>
      <if test="menuKey != null">
        menuKey =#{menuKey}
      </if>
      <if test="id != null">
        and id =#{id}
      </if>
      <if test="type != null and type != 0">
        and type = #{type}
      </if>
      <if test="parentId != null">
        and parentId = #{parentId}
      </if>
      and deleted=0
    </where>
  </select>


  <insert id="insert" parameterType="com.vain.manager.entity.Menu" useGeneratedKeys="true" keyProperty="id">
    insert into t_menu
    (name,parentId,menuKey,type,url,description,deleted,createTime,modifyTime)
    values
    (#{name},#{parentId},#{menuKey},#{type},#{url},#{description},#{deleted},now(),now())
  </insert>

  <update id="update" parameterType="com.vain.manager.entity.Menu">
    update t_menu
    <set>
      <if test="name != null and name !=''">
        name=#{name},
      </if>
      <if test="parentId != null">
        parentId=#{parentId},
      </if>
      <if test="type != null and type != 0">
        type=#{type},
      </if>
      <if test="menuKey != null and menuKey !=''">
        menuKey=#{menuKey},
      </if>
      <if test="url != null and url != ''">
        url=#{url},
      </if>
      <if test="description != null and description != ''">
        description=#{description},
      </if>
      modifyTime=now()
    </set>
    where id=#{id}
  </update>

  <update id="delete" parameterType="com.vain.manager.entity.Menu">
    update t_menu set deleted=#{deleted},modifyTime=now() where id=#{id}
  </update>

</mapper>