<!doctype html>
<html data-ng-app="config.app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <meta name="description" content="系统管理">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../../image/favicon.png">
    <link rel="stylesheet" href="../../../assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../../assets/css/admin.css">
    <link rel="stylesheet" href="../../../assets/css/app.css">
</head>

<body ng-controller="ConfigListCtrl" ng-init="init()">
    <div class="tpl-content-scope tpl-content-wrapper">
        <div class="tpl-content-page-title">
            系统管理
        </div>
        <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-cog">系统管理</a></li>
            <li class="am-active">系统配置</li>
        </ol>

        <div class="row">
            <div class="tpl-portlet">
                <div class="am-g am-margin-vertical-sm">
                </div>

                <div class="am-g div_table">
                        <form class="am-form">
                            <table class="am-table am-table-bordered am-table-radius am-table-hover am-table-centered">
                                <thead>
                                <tr class="am-primary">
                                    <th width="5%">序号</th>
                                    <th width="20%">配置名称</th>
                                    <th width="25%">配置标识</th>
                                    <th width="15%">配置值</th>
                                    <th width="20%">描述</th>
                                    <th width="10%">创建日期</th>
                                    <th width="10%">操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="config in configs track by $index">
                                    <td>{{$index+1}}</td>
                                    <td>{{config.name}}</td>
                                    <td>{{config.code}}</td>
                                    <td>{{config.value}}</td>
                                    <td>{{config.description}}</td>
                                    <td>{{config.createTime}}</td>
                                    <td>
                                        <div class="am-btn-group am-btn-group-xs">
                                            <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="modifyConfig(config);"><span class="am-icon-pencil-square-o"></span> 编辑信息</button>
                                        </div>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                </div>
            </div>
        </div>
    </div>

    <!-- 遮罩层 -->
    <div style="display: block;" class="cover" ng-show="coverShow" id="coverDiv"></div>

    <!--修改配置的div-->
    <div class="form_div cover_alert" id="modifyDiv" ng-show="modifyWindow" style="width: 550px;height:600px;">
        <div>
            <div class="am-modal-hd cover_title"><p class="am-sans-serif">提示:<i class="am-icon-close am-icon-sm cover_close" ng-click="close();"></i></p></div>

            <form class="am-form am-form-horizontal" name="configForm" novalidate="novalidate">
                <div class="am-form-group am-form-error am-form-icon am-form-feedback" ng-class="config.name!=null && config.code!=null && config.value!=null ?'am-form-success':'am-form-error'" style="margin: 20px;">
                    <div>
                        <label for="configName" class="am-u-sm-3 am-form-label">配置名称：</label>
                        <div class="am-u-sm-9" >
                            <input type="text" id="configName" ng-model="config.name" class="am-form-field" placeholder="配置名称" required>
                            <span class="am-icon-warning" style="right:1.7rem;"></span>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u am-u-sm-offset-3 tips">
                        <span ng-show="configFrom.configName.$error.required">配置标识：</span>
                    </div>

                    <div style="padding-top: 6rem;">
                        <label for="configCode" class="am-u-sm-3 am-form-label">配置标识：</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="configCode"  class="am-form-field" placeholder="配置标识"
                                   ng-pattern="/^[A-Za-z]+$/" ng-model="config.code" required>
                            <span class="am-icon-warning" style="right:1.7rem;"></span>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u am-u-sm-offset-3 tips">
                        <span ng-show="configFrom.configCode.$error.required">请输入配置标识</span>
                        <span ng-show="configFrom.configCode.$error.pattern">请输入配置标识</span>
                    </div>

                    <div style="padding-top: 6rem;">
                        <label class="am-u-sm-3 am-form-label">配置参数：</label>
                        <div class="am-u-sm-9">
                            <input type="text" id="configValue" class="am-form-field" placeholder="配置参数" ng-model="config.value" required>
                            <span class="am-icon-warning" style="right:1.7rem;"></span>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u am-u-sm-offset-3 tips">
                        <span ng-show="configFrom.configValue.$error.required">请输入配置参数</span>
                    </div>

                    <div style="padding-top: 6rem;">
                        <label class="am-u-sm-3 am-form-label">配置类型：</label>
                        <div class="am-u-sm-9">
                            <select data-am-selected="{btnSize: 'sm'}" ng-model="config.type">
                                <option value="" hidden>请选择</option>
                                <option value="{{type.value}}"  ng-repeat="type in configType">{{type.key}}</option>
                            </select>
                        </div>
                    </div>

                    <div style="padding-top: 6rem;">
                        <label class="am-u-sm-3 am-form-label">配置描述：</label>
                        <div class="am-u-sm-9">
                            <textarea  class="am-form-field" placeholder="配置参数" ng-model="config.description" rows="5"></textarea>
                            <span class="am-icon-warning" style="right:1.7rem;"></span>
                        </div>
                    </div>


                </div>

                <div class="am-form-group am-padding-top-sm">
                    <div class="am-u-sm-10 am-u-sm-offset-4">
                        <button type="submit" class="am-btn am-btn-default" ng-click="modify();" ng-disabled="config.name!=null && config.code!=null && config.value!=null?'':'disabled'">修改配置</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="../../../assets/js/jquery.min.js"></script>
    <script src="../../../assets/js/amazeui.min.js"></script>
    <script src="../../../assets/js/app.js"></script>
    <script type="application/javascript" src="../../../lib/angular/angular.js"></script>
    <script type="application/javascript" src="../../../lib/angular-resource/angular-resource.js"></script>
    <script type="application/javascript" src="../../../lib/angular-cookie/angular-cookies.js"></script>
    <script type="application/javascript" src="../../../lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="application/javascript" src="../../../lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="application/javascript" src="config-app.js"></script>
    <script type="application/javascript" src="config-controller.js"></script>
    <script type="application/javascript" src="config-services.js"></script>
    <script type="application/javascript" src="../../../common/common-services.js"></script>
</body>

</html>