<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="
       http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd">

    <context:component-scan base-package="com.vain.manager.shiro"/>

    <!--将session交由sessionDao 之后 可以获取session数据-->
    <bean id="sessionDao" class="org.apache.shiro.session.mgt.eis.MemorySessionDAO"/>

    <bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
        <property name="sessionDAO" ref="sessionDao"/>
        <!-- 设置session过期时间为1小时(单位：毫秒)，默认为30分钟 -->
        <property name="globalSessionTimeout" value="3600000"/>
        <property name="sessionValidationSchedulerEnabled" value="true"/>
        <property name="sessionIdCookie">
            <bean class="org.apache.shiro.web.servlet.SimpleCookie">
                <property name="name" value="JSESSID"/>
            </bean>
        </property>
    </bean>

    <bean id="shiroCacheManager" class="org.apache.shiro.cache.MemoryConstrainedCacheManager"/>

    <bean id="securityManager" class="org.apache.shiro.web.mgt.DefaultWebSecurityManager">
        <property name="realm" ref="defaultRealm"/>
        <property name="cacheManager" ref="shiroCacheManager"/>
        <property name="sessionManager" ref="sessionManager"/>
    </bean>

    <!--配置的自己的realm-->
    <bean id="defaultRealm" class="com.vain.manager.shiro.realm.DefaultAuthorizingRealm">
        <property name="authenticateRealms">
            <list>
                <ref bean="simpleAuthenticateRealm"/>
            </list>
        </property>
        <property name="authorizationServiceImpl" ref="authorizationServiceImpl"/>
    </bean>


    <bean id="userFilter" class="com.vain.manager.shiro.filter.UserFilter"/>
    <bean id="urlFilter" class="com.vain.manager.shiro.filter.UrlFilter"/>
    <!--注册filter-->
    <bean id="permissionFilterManager" class="com.vain.manager.shiro.filter.PermissionFilterManager">
        <property name="filterName" value="user"/>
    </bean>

    <bean id="authFilter" class="com.vain.manager.shiro.web.ShiroFilterFactoryBean">
        <property name="securityManager" ref="securityManager"/>
        <property name="filterChainManager" ref="permissionFilterManager"/>
        <property name="filters">
            <map>
                <!--基于url拦截 -->
                <entry key="url" value-ref="urlFilter"/>
                <!--判断用户是否登录和菜单权限-->
                <entry key="user" value-ref="userFilter"/>
            </map>
        </property>
        <property name="filterChainDefinitions">
            <value>
                /css/** = anon
                /js/** = anon
                /images/** = anon
                /resources/** = anon
                /api/user/login = anon
                /api/user/logout = anon
                /api/menu/getMyMenus = anon
                /api/** = url,user
            </value>
        </property>
    </bean>
</beans>

