<!doctype html>
<html data-ng-app="user.app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <meta name="description" content="系统管理">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <link rel="icon" type="image/png" href="../../../image/favicon.png">
    <link rel="stylesheet" href="../../../assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../../assets/css/admin.css">
    <link rel="stylesheet" href="../../../assets/css/app.css">

</head>

<body ng-controller="UserListCtrl" ng-init="init()">
    <div class="tpl-content-scope tpl-content-wrapper">
        <div class="tpl-content-page-title">
            账号管理
        </div>
        <ol class="am-breadcrumb">
            <li><a href="#" class="am-icon-user">账号管理</a></li>
            <li class="am-active">用户管理</li>
        </ol>

        <div class="row">
            <div class="tpl-portlet">
                <div class="am-g">
                    <div class="am-u-sm-12 am-u-md-4">
                        <div class="am-btn-toolbar">
                            <div class="am-btn-group am-btn-group-xs">
                                <button type="button" class="am-btn am-btn-default am-round am-btn-xs" ng-click="addAccount();"><span class="am-icon-plus"></span> 新增用户</button>
                                <button type="button" class="am-btn am-btn-default" ng-click="lockBatch();"><span class="am-icon-lock"></span> 冻结用户</button>
                                <button type="button" class="am-btn am-btn-default am-round am-btn-xs" ng-click="deleteBatch();"  ><span class="am-icon-trash-o"></span> 删除用户</button>
                            </div>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-4">
                        <div class="am-form-group">
                            <select data-am-selected="{btnSize: 'sm'}" ng-model="queryParam.type" ng-change="search();">
                                <option value="" hidden>请选择</option>
                                <option value="0" selected>所有类别</option>
                                <option value="{{type.value}}"  ng-repeat="type in userType">{{type.key}}</option>
                            </select>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u-md-4">
                        <div class="am-form-group">
                              <input type="text" class="form-search" placeholder="搜索..." ng-model="queryParam.userName">
                              <span class="am-input-group-btn form-search-span">
                                <button class="am-btn am-btn-default am-btn-success tpl-am-btn-success am-icon-search"
                                        type="button" ng-click="search();" ></button>
                              </span>
                        </div>
                    </div>


            </div>
                <div class="am-g">
                        <form class="am-form">
                            <table class="am-table am-table-bordered am-table-radius am-table-hover am-table-centered">
                                <thead>
                                <tr class="am-primary">
                                    <th><input type="checkbox" class="tpl-table-fz-check"></th>
                                    <th>序号</th>
                                    <th>用户名</th>
                                    <th>类型</th>
                                    <th>角色</th>
                                    <th>创建日期</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>

                                <tr ng-repeat="user in users track by $index">
                                    <td><input type="checkbox" ng-click="batchId(user)" ng-checked="user.checkState"></td>
                                    <td>{{$index+1}}</td>
                                    <td><a href="#">{{user.userName}}</a></td>
                                    <td>{{user.type==1?'超级管理员':(user.type==2?'管理组':'普通用户')}}</td>
                                    <td>{{user.roleName}}</td>
                                    <td class="am-hide-sm-only">{{user.createTime}}</td>
                                    <td>
                                        <div class="am-btn-toolbar am-margin-left-sm">
                                            <div class="am-btn-group am-btn-group-xs">
                                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="showModify(user);"><span class="am-icon-pencil-square-o"></span> 编辑信息</button>
                                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="showResetPwdDiv(user);"><span class="am-icon-pencil-square-o"></span> 重置密码</button>
                                                <button class="am-btn am-btn-default am-btn-xs am-text-danger" ng-click="grantRole(user)"><span class="am-icon-user-secret"></span> 分配角色</button>
                                                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" ng-click="grant(user);"><span class="am-icon-wrench"></span> 分配权限</button>
                                                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" ng-click="lock(user);">
                                                    <span class="{{user.state==0?'am-icon-lock':'am-icon-unlock'}}"></span>{{user.state==0?" 锁定":" 解锁"}}
                                                </button>
                                                <button class="am-btn am-btn-default am-btn-xs am-text-danger am-hide-sm-only" ng-click="delete(user.id);" ><span class="am-icon-trash-o"></span> 删除</button>
                                            </div>
                                        </div>
                                    </td>
                                </tr>

                                </tbody>
                            </table>
                        </form>
                </div>
                <!--分页div-->
                <div class="am-g">
                    <div ng-include="'../../../common/paginator.html'"></div>
                </div>
            </div>
        </div>
    </div>

    <!-- 遮罩层 -->
    <div style="display: block;" class="cover" ng-show="coverShow" id="coverDiv"></div>

    <!--重置密码的div-->
    <div class="form_div cover_alert" id="pwdDiv" ng-show="resetPwdWindow" style="width: 550px;height:350px;">
        <div>
            <div class="am-modal-hd cover_title"><p class="am-sans-serif">提示:<i class="am-icon-close am-icon-sm cover_close" ng-click="close(1);"></i></p></div>

            <form class="am-form am-form-horizontal" name="pwdForm" novalidate="novalidate">
                <div class="am-form-group am-form-error am-form-icon am-form-feedback" ng-class="resetNewPassword!=null && (resetNewPassword==resetPassword)?'am-form-success':'am-form-error'" style="margin: 20px;">
                    <label for="password" class="am-u-sm-3 am-form-label">新密码:</label>
                    <div class="am-u-sm-9">
                        <input type="password" id="password" name="password" class="am-form-field" placeholder="设置新密码" ng-maxlength="16" ng-minlength="6"
                               ng-pattern="/^[0-9]*(([a-zA-Z]+[0-9]+)|([0-9]+[a-zA-Z]+))+[a-zA-Z]*$/" ng-model="resetPassword" required>
                        <span class="am-icon-warning" style="right:1.7rem;"></span>
                    </div>

                    <div class="am-u-sm-12 am-u am-u-sm-offset-3 tips">
                        <span ng-show="pwdForm.password.$error.required">请输入密码</span>
                        <span ng-show="pwdForm.password.$error.pattern&&!pwdForm.password.$error.maxlength&&!pwdForm.password.$error.minlength">请输入数字和字母组成的密码</span>
                        <span ng-show="pwdForm.password.$error.maxlength">输入长度为6-16个字符</span>
                        <span ng-show="pwdForm.password.$error.minlength">输入长度为6-16个字符</span>
                        <span ng-show="resetNewPassword!=null&&(resetNewPassword!=resetPassword)">二次密码不一致</span>
                    </div>

                    <div class="am-padding-top-xl">
                        <label for="newPassword" class="am-u-sm-3 am-form-label">新密码:</label>
                        <div class="am-u-sm-9" >
                            <input type="password" id="newPassword" name="newPassword" ng-model="resetNewPassword" class="am-form-field" placeholder="再次输入">
                            <span class="am-icon-warning" style="right:1.7rem;"></span>
                        </div>
                    </div>

                </div>

                <div class="am-form-group am-padding-top-xs">
                    <div class="am-u-sm-10 am-u-sm-offset-4">
                        <button type="submit" class="am-btn am-btn-default" ng-click="resetPwd();" ng-disabled="resetNewPassword!=null && (resetNewPassword==resetPassword)?'':'disabled'">重置密码</button>
                    </div>
                </div>
            </form>
        </div>
    </div>


    <!--添加信息的div-->
    <div class="form_div cover_alert" id="addDiv" ng-show="addWindow" style="width: 550px;height:450px;">
        <div>
            <div class="am-modal-hd cover_title"><p class="am-sans-serif">提示:<i class="am-icon-close am-icon-sm cover_close" ng-click="close(2);"></i></p></div>

            <form class="am-form am-form-horizontal" name="accountForm" novalidate="novalidate">
                <div class="am-form-group am-form-error am-form-icon am-form-feedback" ng-class="addUser.passwd!=null && addUser.userName!=null && addUser.type>0?'am-form-success':'am-form-error'" style="margin: 20px;">
                    <div>
                        <label for="userName" class="am-u-sm-3 am-form-label">用户账号：</label>
                        <div class="am-u-sm-9" >
                            <input type="text" id="userName" name="userName" ng-model="addUser.userName" class="am-form-field" placeholder="用户账号">
                            <span class="am-icon-warning" style="right:1.7rem;"></span>
                        </div>
                    </div>

                    <div style="padding-top: 60px;">
                        <label for="accountPassword" class="am-u-sm-3 am-form-label">用户密码：</label>
                        <div class="am-u-sm-9">
                            <input type="password" id="accountPassword" name="accountPassword" class="am-form-field" placeholder="用户密码" ng-maxlength="16" ng-minlength="6"
                                   ng-pattern="/^[0-9]*(([a-zA-Z]+[0-9]+)|([0-9]+[a-zA-Z]+))+[a-zA-Z]*$/" ng-model="addUser.passwd" required>
                            <span class="am-icon-warning" style="right:1.7rem;"></span>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u am-u-sm-offset-3 tips">
                        <span ng-show="accountForm.accountPassword.$error.required">请输入密码</span>
                        <span ng-show="accountForm.accountPassword.$error.pattern&&!accountForm.password.$error.maxlength&&!accountForm.password.$error.minlength">请输入数字和字母组成的密码</span>
                        <span ng-show="accountForm.accountPassword.$error.maxlength">输入长度为6-16个字符</span>
                        <span ng-show="accountForm.accountPassword.$error.minlength">输入长度为6-16个字符</span>
                    </div>

                    <div style="padding-top: 60px;">
                        <label class="am-u-sm-3 am-form-label">用户类型：</label>
                        <div class="am-u-sm-9">
                            <select data-am-selected="{btnSize: 'sm'}" ng-model="addUser.type">
                                <option value="">所有类别</option>
                                <option value="{{type.value}}"  ng-repeat="type in userType">{{type.key}}</option>
                            </select>
                        </div>
                    </div>

                </div>

                <div class="am-form-group" style="padding-top: 20px;">
                    <div class="am-u-sm-10 am-u-sm-offset-4">
                        <button type="submit" class="am-btn am-btn-default" ng-click="add();" ng-disabled="addUser.passwd!=null && addUser.userName!=null && addUser.type>0?'disabled':''">添加账号</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--编辑详细信息的div-->
    <div class="form_div cover_alert" id="modifyDiv" ng-show="modifyWindow" style="width: 550px;height:450px;">
        <div>
            <div class="am-modal-hd cover_title"><p class="am-sans-serif">提示:<i class="am-icon-close am-icon-sm cover_close" ng-click="close(3);"></i></p></div>

            <form class="am-form am-form-horizontal" name="accountForm" novalidate="novalidate">
                <div class="am-form-group am-form-error am-form-icon am-form-feedback am-form-success" style="margin: 20px;">
                    <div>
                        <label class="am-u-sm-3 am-form-label">用户账号：</label>
                        <div class="am-u-sm-9" >
                            <input type="text" ng-model="modifyUser.userName" class="am-form-field" placeholder="用户账号">
                            <span class="am-icon-warning" style="right:1.7rem;"></span>
                        </div>
                    </div>

                    <div style="padding-top: 60px;">
                        <label class="am-u-sm-3 am-form-label">电话号码：</label>
                        <div class="am-u-sm-9">
                            <input type="number" class="am-form-field" placeholder="电话号码" ng-maxlength="11" ng-minlength="6"
                                   ng-pattern="/^[0-9]*$/" ng-model="modifyUser.phone">
                            <span class="am-icon-warning" style="right:1.7rem;"></span>
                        </div>
                    </div>

                    <div class="am-u-sm-12 am-u am-u-sm-offset-3 tips">
                        <span ng-show="accountForm.accountPhone.$error.pattern&&!accountForm.accountPhone.$error.maxlength&&!accountForm.accountPhone.$error.minlength">请输入正确的电话号码</span>
                    </div>

                    <div style="padding-top: 60px;">
                        <label class="am-u-sm-3 am-form-label">电子邮箱：</label>
                        <div class="am-u-sm-9">
                            <input type="text" class="am-form-field" placeholder="电子邮箱" ng-pattern="/^[0-9]*$/" ng-model="modifyUser.email">
                            <span class="am-icon-warning" style="right:1.7rem;"></span>
                        </div>
                    </div>

                </div>

                <div class="am-form-group" style="padding-top: 20px;">
                    <div class="am-u-sm-10 am-u-sm-offset-4">
                        <button type="submit" class="am-btn am-btn-default" ng-click="modify();">修改信息</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <!--分配角色的div-->
    <div class="form_div cover_alert" id="roleDiv" ng-show="roleWindow" style="width: 500px;min-height: 300px;">
        <div>
            <div class="am-modal-hd cover_title"><p class="am-sans-serif">提示:<i class="am-icon-close am-icon-sm cover_close" ng-click="close(4);"></i></p></div>

            <form class="am-form am-form-horizontal" name="roleForm" novalidate="novalidate">
                <div class="am-form-group am-form-error am-form-icon am-form-feedback am-form-success ">
                    <div class="am-form-group am-text-center">
                        <select data-am-selected="{btnSize: 'sm'}" ng-model="role.type" ng-change="search();">
                            <option value="" hidden>请选择</option>
                            <option value="0" selected>所有类别</option>
                            <option value="{{type.value}}"  ng-repeat="type in userType">{{type.key}}</option>
                        </select>
                    </div>
                </div>

                <div class="am-form-group" style="padding-top: 20px;">
                    <div class="am-u-sm-10 am-u-sm-offset-4">
                        <button type="submit" class="am-btn am-btn-default" ng-click="modify();">分配角色</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <script src="../../../assets/js/jquery.min.js"></script>
    <script src="../../../assets/js/amazeui.min.js"></script>
    <script src="../../../assets/js/app.js"></script>
    <script type="application/javascript" src="../../../lib/angular/angular.js"></script>
    <script type="application/javascript" src="../../../lib/angular-resource/angular-resource.js"></script>
    <script type="application/javascript" src="../../../lib/angular-cookie/angular-cookies.js"></script>
    <script type="application/javascript" src="../../../lib/angular-bootstrap/ui-bootstrap.js"></script>
    <script type="application/javascript" src="../../../lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script type="application/javascript" src="user-app.js"></script>
    <script type="application/javascript" src="user-controller.js"></script>
    <script type="application/javascript" src="user-services.js"></script>
    <script type="application/javascript" src="../../../common/common-services.js"></script>
</body>

</html>