<!doctype html>
<html data-ng-app="menu.app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <meta name="description" content="系统管理">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../../image/favicon.png">
    <link rel="stylesheet" href="../../../assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../../assets/css/admin.css">
    <link rel="stylesheet" href="../../../assets/css/app.css">

</head>

<body ng-controller="MenuListCtrl" ng-init="init()">
<div class="tpl-content-scope tpl-content-wrapper">
    <div class="tpl-content-page-title">
        账号管理
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-user">账号管理</a></li>
        <li class="am-active">菜单管理</li>
    </ol>

    <div class="row">
        <div class="tpl-portlet">
            <div class="am-g">
                <form class="am-form">
                    <table class="am-table am-table-bordered am-table-radius am-table-hover am-table-centered">
                        <thead>
                        <tr class="am-primary">
                            <th>菜单名称</th>
                            <th>菜单类型</th>
                            <th>菜单标识</th>
                            <th>URL</th>
                            <th>菜单描述</th>
                            <th>操作</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr ng-repeat="menu in menus track by $index" class="arrow" ng-show="menu.isShow && menu.isShowChildren"
                            ng-class="menu.type==1?'arrow_One':(menu.type==2?'arrow_Two':'arrow_Three')">
                            <td>
                                <b ng-click="toggleChildren(menu);" ng-class="menu.type==3?'arrow_none':(menu.arrowState?'':'active')">
                                    {{menu.name}}
                                </b>
                            </td>
                            <td>{{menu.type==1?'目录':(menu.type==2?'菜单':'按钮')}}</td>
                            <td>{{menu.menuKey}}</td>
                            <td>{{menu.url}}</td>
                            <td>{{menu.description}}</td>
                            <td>
                                <button class="am-btn am-btn-default am-btn-xs am-text-secondary" ng-click="modifyMenu(menu);"><span class="am-icon-pencil-square-o"></span> 编辑</button>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>


<!-- 遮罩层 -->
<div style="display: block;" class="cover" ng-show="coverShow" id="coverDiv"></div>

<!--修改配置的div-->
<div class="form_div cover_alert" id="modifyDiv" ng-show="modifyWindow" style="width: 550px;height:670px;">
    <div>
        <div class="am-modal-hd cover_title"><p class="am-sans-serif">提示:<i class="am-icon-close am-icon-sm cover_close" ng-click="close();"></i></p></div>

        <form class="am-form am-form-horizontal" name="menuForm" novalidate="novalidate">
            <div class="am-form-group am-form-error am-form-icon am-form-feedback" ng-class="menu.name!=null && menu.menuKey!=null && menu.type!=null ?'am-form-success':'am-form-error'" style="margin: 20px;">
                <div>
                    <label for="menuName" class="am-u-sm-3 am-form-label">菜单名称：</label>
                    <div class="am-u-sm-9" >
                        <input type="text" id="menuName" ng-model="menu.name" class="am-form-field" placeholder="菜单名称" required>
                        <span class="am-icon-warning" style="right:1.7rem;"></span>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u am-u-sm-offset-3 tips">
                    <span ng-show="menuForm.menuName.$error.required">菜单标识：</span>
                </div>

                <div style="padding-top: 6rem;">
                    <label for="menuKey" class="am-u-sm-3 am-form-label">菜单标识：</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="menuKey"  class="am-form-field" placeholder="菜单标识"
                               ng-pattern="/^[A-Za-z]+$/" ng-model="menu.menuKey" required>
                        <span class="am-icon-warning" style="right:1.7rem;"></span>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u am-u-sm-offset-3 tips">
                    <span ng-show="menuForm.menuKey.$error.required">请输入菜单标识</span>
                    <span ng-show="menuForm.menuKey.$error.pattern">请输入菜单标识</span>
                </div>

                <div style="padding-top: 6rem;">
                    <label class="am-u-sm-3 am-form-label">菜单URL：</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="menuUrl" class="am-form-field" placeholder="菜单URL" ng-model="menu.url" required>
                        <span class="am-icon-warning" style="right:1.7rem;"></span>
                    </div>
                </div>

                <div class="am-u-sm-12 am-u am-u-sm-offset-3 tips">
                    <span ng-show="menuForm.menuUrl.$error.required">请输入菜单URL</span>
                </div>

                <div style="padding-top: 6rem;">
                    <label class="am-u-sm-3 am-form-label">菜单类型：</label>
                    <div class="am-u-sm-9">
                        <select data-am-selected="{btnSize: 'sm'}" ng-model="menu.type">
                            <option value="" hidden>请选择</option>
                            <option value="{{type.value}}"  ng-repeat="type in menuType">{{type.key}}</option>
                        </select>
                    </div>
                </div>

                <div style="padding-top: 6rem;">
                    <label for="menuName" class="am-u-sm-3 am-form-label">菜单图标：</label>
                    <div class="am-u-sm-9">
                        <input type="text" id="icon" ng-model="menu.icon" class="am-form-field" placeholder="菜单图标" required>
                        <i class="{{menu.icon}}" style="right:3.7rem;"></i>
                        <span class="am-icon-warning" style="right:1.7rem;"></span>
                    </div>
                </div>

                <div style="padding-top: 6rem;">
                    <label class="am-u-sm-3 am-form-label">菜单描述：</label>
                    <div class="am-u-sm-9">
                        <textarea  class="am-form-field" placeholder="菜单参数" ng-model="menu.description" rows="5"></textarea>
                        <span class="am-icon-warning" style="right:1.7rem;"></span>
                    </div>
                </div>


            </div>

            <div class="am-form-group am-padding-top-sm">
                <div class="am-u-sm-10 am-u-sm-offset-4">
                    <button type="submit" class="am-btn am-btn-default am-round am-padding-left-lg am-padding-right-lg" ng-click="modify();" ng-disabled="menu.name!=null && menu.menuKey!=null && menu.type!=null?'':'disabled'">修改菜单</button>
                </div>
            </div>
        </form>
    </div>
</div>


<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/js/amazeui.min.js"></script>
<script src="../../../assets/js/app.js"></script>
<script type="application/javascript" src="../../../lib/angular/angular.js"></script>
<script type="application/javascript" src="../../../lib/angular-resource/angular-resource.js"></script>
<script type="application/javascript" src="../../../lib/angular-cookie/angular-cookies.js"></script>
<script type="application/javascript" src="../../../lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="application/javascript" src="../../../lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="application/javascript" src="menu-app.js"></script>
<script type="application/javascript" src="menu-controller.js"></script>
<script type="application/javascript" src="menu-services.js"></script>
<script type="application/javascript" src="../../../common/common-services.js"></script>
</body>

</html>