<!doctype html>
<html data-ng-app="home.app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台管理系统</title>
    <meta name="description" content="系统主页">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../image/favicon.png">
    <meta name="apple-mobile-web-app-title" content="Amaze UI"/>
    <link rel="stylesheet" href="../../assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../assets/css/admin.css">
    <link rel="stylesheet" href="../../assets/css/app.css">
</head>

<body style="overflow: inherit;" ng-controller="HomeCtrl" ng-init="init()">
<!--头部导航栏-->
<header class="am-topbar am-topbar-inverse admin-header">
    <div class="am-topbar-brand">
        <a href="javascript:;" class="tpl-logo">
             <span class="tpl-header-list-user-ico">
                 <img src="../../image/logo.gif" alt="" style="width: 60px;height: 60px;">
             </span>
        </a>
    </div>
    <div class="am-icon-list tpl-header-nav-hover-ico am-fl am-margin-right">

    </div>

    <button class="am-topbar-btn am-topbar-toggle am-btn am-btn-sm am-btn-success am-show-sm-only"
            data-am-collapse="{target: '#topbar-collapse'}"><span class="am-sr-only">导航切换</span> <span
            class="am-icon-bars"></span></button>

    <!--个人菜单-->
    <div class="am-collapse am-topbar-collapse" id="topbar-collapse">

        <ul class="am-nav am-nav-pills am-topbar-nav am-topbar-right admin-header-list tpl-header-list">
            <li class="am-hide-sm-only"><a href="javascript:;" id="admin-fullscreen" class="tpl-header-list-link"><span
                    class="am-icon-arrows-alt"></span> <span class="admin-fullText">开启全屏</span></a></li>

            <li class="am-dropdown" data-am-dropdown data-am-dropdown-toggle>
                <a class="am-dropdown-toggle tpl-header-list-link" href="javascript:;">
                    <span class="tpl-header-list-user-nick">{{user.userName}}</span>
                    <span class="tpl-header-list-user-ico"> <img src="../../assets/img/user01.png"></span>
                </a>
                <ul class="am-dropdown-content">
                    <li><a href="#"><span class="am-icon-bell-o"></span> 资料</a></li>
                    <li><a href="#"><span class="am-icon-cog"></span> 设置</a></li>
                    <li><a ng-click="logout();"><span class="am-icon-power-off"></span> 退出</a></li>
                </ul>
            </li>
            <li><a href="#" class="tpl-header-list-link"><span
                    class="am-icon-sign-out tpl-header-list-ico-out-size"></span></a></li>
        </ul>
    </div>
</header>

<div class="tpl-page-container tpl-page-header-fixed">
    <!-- 侧边栏菜单-->
    <div class="tpl-left-nav tpl-left-nav-hover">
        <div class="tpl-left-nav-title">
            菜单栏
        </div>
        <div class="tpl-left-nav-list">
            <ul class="tpl-left-nav-menu">
                <li class="tpl-left-nav-item">
                    <a class="nav-link active" id="homePage">
                        <i class="am-icon-home"></i>
                        <span>首页</span>
                    </a>
                </li>

                <li class="tpl-left-nav-item" ng-click="checkState($index);" ng-repeat="menu in menus track by $index">
                    <a href="#" class="nav-link tpl-left-nav-link-list">
                        <i class="{{menu.icon}}"></i>
                        <span>{{menu.name}}</span>
                        <i class="am-icon-angle-right tpl-left-nav-more-ico am-fr am-margin-right"></i>
                    </a>
                    <ul class="tpl-left-nav-sub-menu" ng-style="showSubMenu($index);">
                        <li ng-repeat="child in menu.children track by $index">
                            <a href="#" ng-click="clickMenu(child);">
                                <i class="am-icon-angle-right"></i>
                                <span>{{child.name}}</span>
                            </a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>

    <iframe ng-src="{{menuUrl}}" name="Main_iframe" frameborder="0" scrolling="no" onload="resize();" id="Main_iframe" allowfullscreen></iframe>
</div>


<script src="../../assets/js/jquery.min.js"></script>
<script src="../../assets/js/amazeui.min.js"></script>
<script src="../../assets/js/iscroll.js"></script>
<script src="../../assets/js/app.js"></script>
<script src="../../assets/js/iframe.js"></script>
<script type="application/javascript" src="../../lib/angular/angular.js"></script>
<script type="application/javascript" src="../../lib/angular-resource/angular-resource.js"></script>
<script type="application/javascript" src="../../lib/angular-cookie/angular-cookies.js"></script>
<script type="application/javascript" src="../../lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="application/javascript" src="../../lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="application/javascript" src="home-app.js"></script>
<script type="application/javascript" src="home-controller.js"></script>
<script type="application/javascript" src="home-services.js"></script>
<script type="application/javascript" src="../../common/common-services.js"></script>
<script>
    /* 通过jQuery来获取iframe的大小并动态设置*/
    function resize() {
        var height = Main_iframe.document.body.scrollHeight;
        var content = $("#Main_iframe").contents().find(".tpl-content-scope");
        if (content) {
            height = content.outerHeight(true);
        }
        //取不同分辨率下浏览器的大小 动态设置最小高度
        $("#Main_iframe").css("min-height",$(window.document).height()-$(".am-topbar").height()-30); //浏览器大小减去导航栏高度 减去 margin
        $("#Main_iframe").css("height", height);
        $("body").scrollTop(0);
    }
</script>
</body>

</html>