<!doctype html>
<html data-ng-app="user.app">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>后台登录系统</title>
    <meta name="description" content="系统管理">
    <meta name="keywords" content="index">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="Cache-Control" content="no-siteapp"/>
    <link rel="icon" type="image/png" href="../../../image/favicon.png">
    <link rel="stylesheet" href="../../../assets/css/amazeui.min.css"/>
    <link rel="stylesheet" href="../../../assets/css/admin.css">
    <link rel="stylesheet" href="../../../assets/css/app.css">

</head>

<body ng-controller="UserGrantCtrl" ng-init="init()">
<div class="tpl-content-scope tpl-content-wrapper">
    <div class="tpl-content-page-title">
        系统管理
    </div>
    <ol class="am-breadcrumb">
        <li><a href="#" class="am-icon-cog">系统管理</a></li>
        <li class="am-active">角色管理</li>
        <li class="am-active">权限分配</li>
    </ol>

    <div class="row">
        <div class="tpl-portlet">
            <div class="am-g">
                <table class="am-table am-table-bordered am-table-centered ">
                <thead>
                <tr class="am-primary">
                    <th>一级菜单</th>
                    <th>二级菜单</th>
                    <th>三级菜单</th>
                </tr>
                </thead>

                <tbody ng-repeat="menu in menus track by $index">
                <tr ng-repeat="child in menu.children track by $index" >
                    <td rowspan="{{menu.children.length}}" class="am-text-middle" ng-if="$index==0">
                        <label class="checkboxs">
                            <i class="{{menu.hasPermission?'active':''}}"></i>
                            <input type="checkbox" ng-model="menu.hasPermission" ng-click="grantMenus(menu);">
                            <span>{{menu.name}}</span>
                        </label>
                    </td>
                    <td>
                        <label class="checkboxs">
                            <i class="{{child.hasPermission?'active':''}}"></i>
                            <input type="checkbox" ng-model="child.hasPermission" ng-click="grantMenus(child);">
                            <span>{{child.name}}</span>
                        </label>
                    </td>
                    <td>
                        <label class="checkboxs" ng-repeat="grandChild in child.children track by $index">
                            <i class="{{grandChild.hasPermission?'active':''}}"></i>
                            <input type="checkbox" ng-model="grandChild.hasPermission"
                                   ng-click="grantMenus(grandChild);">
                            <span>{{grandChild.name}}</span>
                        </label>
                    </td>
                </tr>
                </tbody>
            </table>
            </div>

            <div class="am-g">
                <div class="am-form-group am-padding-top-xs">
                    <div class="am-u-sm-10 am-u-sm-offset-4">
                        <button type="submit" class="am-btn am-btn-default" ng-click="save();">保存</button>
                        <button type="submit" class="am-btn am-btn-default" ng-click="cancel();">返回</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<script src="../../../assets/js/jquery.min.js"></script>
<script src="../../../assets/js/amazeui.min.js"></script>
<script src="../../../assets/js/app.js"></script>
<script type="application/javascript" src="../../../lib/angular/angular.js"></script>
<script type="application/javascript" src="../../../lib/angular-resource/angular-resource.js"></script>
<script type="application/javascript" src="../../../lib/angular-cookie/angular-cookies.js"></script>
<script type="application/javascript" src="../../../lib/angular-bootstrap/ui-bootstrap.js"></script>
<script type="application/javascript" src="../../../lib/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script type="application/javascript" src="user-app.js"></script>
<script type="application/javascript" src="user-controller.js"></script>
<script type="application/javascript" src="user-services.js"></script>
<script type="application/javascript" src="../../../common/common-services.js"></script>
</body>

</html>